<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.order.OrderMapper">
    <insert id="insOrder" useGeneratedKeys="true" keyProperty="iorder">
        INSERT INTO t_order
        SET iuser = #{iuser},
        total_price = #{totalOrderPrice},
        iaddress = #{iaddress}
    </insert>

    <select id="selPaymentOption">
        SELECT ipayment_option, payment_option
        FROM t_payment_option
        WHERE ipayment_option != 1
    </select>

    <select id="selOrderForConfirm">
        SELECT A.iorder, A.total_price AS totalOrderPrice,
        SUM(B.product_cnt) AS totalProductCnt
        FROM t_order A
        JOIN t_order_details B
        ON A.iorder = B.iorder
        AND A.iorder = #{iorder}
        GROUP BY B.iorder
    </select>

    <update id="updOrder">
        UPDATE t_order
        SET iaddress = #{iaddress},
        addressee_nm = #{addresseeNm},
        email = #{email},
        phone_number = #{phoneNumber},
        ipayment_option = #{ipaymentOption},
        process_state = #{processState}
        WHERE (iorder, iuser) = (#{iorder}, #{iuser})
    </update>

    <select id="selConfirmOrder">
        SELECT A.iorder, A.addressee_nm, A.phone_number, A.email, B.zip_code, B.address, B.address_detail,
        C.payment_option, DATE(A.created_at) as createdAt
        FROM t_order A
        JOIN t_address B
        ON A.iaddress = B.iaddress
        JOIN t_payment_option C
        ON A.ipayment_option = C.ipayment_option
        WHERE (A.iuser, A.iorder) = (#{iuser}, #{iorder})
    </select>

    <!-- -->
    <select id="getOrderList">
        SELECT DATE(a.created_at) createdAt, a.iorder, b.idetails, b.refund_fl refundFl,
        (SELECT COUNT(*) FROM t_review WHERE ireview = b.idetails) reviewFl,
        if(a.delete_fl = 1, 1, if(b.refund_fl = 1, 2, 0)) orderFl
        FROM t_order a
        INNER JOIN t_order_details b
        ON a.iorder = b.iorder
        WHERE a.iuser = #{iuser}

        <if test="date != 0">
            <!-- AND a.created_at BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY) AND NOW() -->
            <trim prefix="AND a.created_at BETWEEN DATE_ADD(NOW(), INTERVAL" suffix=") AND NOW()">
                <if test="date == 1">
                    -1 DAY
                </if>
                <if test="date == 2">
                    -1 WEEK
                </if>
                <if test="date == 3">
                    -1 MONTH
                </if>
                <if test="date == 4">
                    -90 DAY
                </if>
                <if test="date == 5">
                    -180 DAY
                </if>
            </trim>
        </if>

        <if test="processStateCode &gt; 0 and processStateCode &lt;= 4"> <!-- processStateCode > 0 and processStateCode <= 4 -->
            AND process_state = #{processStateCode}
        </if>

        <if test="listFl != 1">
            AND (a.delete_fl = 1 OR b.refund_fl = 1)
        </if>
        ORDER BY a.created_at DESC
    </select>

    <select id="getProductList">
        SELECT a.iorder, b.idetails, c.rep_pic repPic, c.product_nm productNm,
        b.product_cnt productCnt, a.process_state processStateCode,
        (SELECT price FROM t_product WHERE iproduct = b.iproduct) * b.product_cnt price
        FROM t_order a
        INNER JOIN t_order_details b
        ON a.iorder = b.iorder
        INNER JOIN t_product c
        ON b.iproduct = c.iproduct
        WHERE a.iuser = #{iuser}
        <if test="listFl != 1">
            AND if(a.delete_fl = 1, 1, if(b.refund_fl = 1, 2, null))
        </if>
        ORDER BY a.created_at DESC
    </select>

    <update id="orderCancel">
        UPDATE t_order
        SET process_state = 4
        WHERE iorder = #{iorder}
    </update>
</mapper>