<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.order.OrderMapper">
    <insert id="insOrder" useGeneratedKeys="true" keyProperty="iorder">
        INSERT INTO t_order
        SET iuser = #{iuser},
            total_price = #{totalOrderPrice},
            iaddress = #{iaddress}
    </insert>

    <select id="selPaymentOption">
        SELECT ipayment_option, payment_option
        FROM t_payment_option
        WHERE ipayment_option != 1
    </select>

    <update id="updOrder">
        UPDATE t_order
        SET iaddress = #{iaddress},
            addressee_nm = #{addresseeNm},
            email = #{email},
            phone_number = #{phoneNumber},
            ipayment_option = #{ipaymentOption}
        WHERE (iorder, iuser) = (#{iorder}, #{iuser})
    </update>

    <select id="selConfirmOrder">
        SELECT A.iorder, A.addressee_nm, A.phone_number, B.zip_code, B.address, B.address_detail,
            C.payment_option, DATE(A.created_at) as createdAt
        FROM t_order A
        JOIN t_address B
        ON A.iaddress = B.iaddress
        JOIN t_payment_option C
        ON A.ipayment_option = C.ipayment_option
        WHERE (A.iuser, A.iorder) = (#{iuser}, #{iorder})
    </select>
</mapper>