<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.order.OrderMapper">
    <insert id="insOrder" useGeneratedKeys="true" keyProperty="iorder">
        INSERT INTO t_order
        SET iuser = #{iuser},
            total_price = #{orderTotalPrice}
            iaddress = #{iaddress}
    </insert>

    <select id="selPaymentOption">
        SELECT ipayment_option, payment_option
        FROM t_payment_option
        WHERE ipayment_option != 1
    </select>

</mapper>